body {
    background-color: black;
    background-image: url('Images/roast.gif');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}


#slideshow {
    margin: auto;
    width: 80%;
    height: auto;
}

#RSVP img {
    margin: auto;
    max-width: 300px;
    height: auto;
}

#RSVP {
  width: 250px;
  margin-left: auto ;
  margin-right: auto ;
}

#thankful { 
   display:none;
}