body {
    background-color: black;
}

#background {
    background-image: url('Images/roast.gif');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

#slideshow {
    max-width: 80%
    height: auto;
}

#RSVP {
    margin-bottom: 100px;
    width: 40px;
}

#thankful { 
   display:none;
}