body {
    background-color: black;
}

#background {
    background-image: url('Images/roast.gif');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

#slideshow {
    max-width: 80%
    height: auto;
}

a {
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 100px;
    max-width: 40px;
}

#thankful { 
   display:none;
}